.lg-no-data  {
  padding-top: 246rpx;
  text-align: center;
}
.__img {
  width: 291rpx;
  height: 254rpx;
}
.__tips {
  line-height: 100rpx;
  text-align: center;
  font-size: 28rpx;
  color: #C9C9C9;  
}