@keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
}

.lg-loading {
  text-align: center;
}
.lg-loading__ct {
  position: relative;
  width: 128rpx;
  height: 128rpx;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lg-loading__logo {
  width: 44rpx;
  height: 44rpx;
}
.lg-loading__icon {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  animation: rotate 1s linear infinite;
}
.lg-loading__tips {
  font-size: 24rpx;
  margin-top: 24rpx;
  letter-spacing: 2rpx;
  color: #999999;
}

